    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Portfolio</h2>
                    <p>Access portfolio by category</p>
                    <a href="{{ site.url }}/photography" class="btn btn-default btn-lg">Photography</a>
                    <a href="{{ site.url }}/films" class="btn btn-default btn-lg">Films</a>
                    <a href="{{ site.url }}/video" class="btn btn-default btn-lg">Video</a>
                </div>
            </div>
        </div>
    </section>